.svg-inline--fa fa-graduation-cap {
  font-size: 2rem;
}
.extend-button {
  justify-self: end;
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.rotate-down {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
